@font-face{
	font-family: 'Digital';
	src: url('/font/Orbitron-Regular.ttf')
}


	.mainDiv{
	box-sizing: border-box;
}

.watchBody{
	border: 1px solid blue;
	height:250px;
	width:400px;
	box-sizing: border-box;
	margin-top:50%;
	margin-left:10%;
	border-radius:20px;
	background:linear-gradient(84deg, lightgreen, yellow,white);
	z-index: 1;
	position: relative;
}


.stopwatch{
	color: red;
	font-size:50px;
	margin-bottom: 5px;
	margin-top:15%;
	font-family: Times;
	
	
}

button{
	margin-top:7%;
	margin-left:1%;
}

button:hover{
	width:30%
}


.dateNow{
	font-size: 1.5em;
	border: 1px solid blue;
	width: 300px;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin-left: 50px;
	border-radius:20px;
}

.clock{
	font-size: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 2;
	margin-left: 150px;
	margin-top:36px;
	border-radius: 10px;
	border:1px solid red;
	width: 220px;
	height:30px;
}